@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Handlee|Open+Sans:600i');

.encabezado{
    text-align: center;
}
body{
    font-family:'Handlee', cursive;
    font-size: 20px;
    background: url("https://www.decoandkids.com/4315-large_default/papel-pintado-cactus-grises-lilipinso.jpg");
    
}
#box1{
    text-align: center;
    border: 10px solid #5A9A65;
    width: 640px;
    margin: 0 auto;
    color: #5A9A65;
}
#form{
    text-align: center;
    color:#881C67;
}
#escribirMsj{
    text-align: center;
    color:#881C67;
}